RewriteEngine on 

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.html -f  

RewriteRule ^(.*)$ $1.html [NC,L] 

RewriteEngine On
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\html [NC]
RewriteRule ^%1 [R,L,NC]

ErrorDocument 404 /404.html

RewriteEngine On
RewriteRule ^pages/(.*)$ /$1 [L]


