#center { margin: 100px 0; }

#left { margin: -200px 0 0 -899px; }

#right { margin: -150px 0 0 899px; }

.nums {
    margin: 10px;
    font-weight: bold;
    font-size: 60px;
    /* font: 60px bold; */
}

.titles {
    padding: 5px;
    line-height: 20px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 35px;
}

#Name {
    line-height: 20px;
    margin: 15px 0 0 0;
    color: blue;
    font-weight: bold;
    font-size: 35px;
}

input {
    margin: 10px 15px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 2px 10px #DDDDDD;
}

#SubmitButton {
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background: #008CBA;
    width: 100px;
}

html, body {
    height: 100%;
    padding: 10px;
    overflow: hidden;
    font-family: sans-serif;
    text-align: center; 
}